{% extends "base_customer.html" %}
{% block title %}{{block.super}}--{{customer.name|title}}{% endblock %}
{% block main %}
<article>
<header>
{{customer.name|title}}<br>
{{customer.address}}<br>
{{customer.location}}<br>
{% if customer.departments %}
{% for dep in customer.departments.all %}
{% if dep.machines_dep %}
{{dep.department_name}}--{{dep.machines_dep.count}}
{% endif %}
{{dep.department_name}}--{{dep.no_of_machine}}<br>
{% endfor %}
{% endif %}
<p>{{customer.name}} organization has {{customer.get_machine_number}} machine{{total_machine|pluralize}} </p>
<h3>If you want to create another customer click below</h3>
<br><a href="{% url 'customer:customer-update' slug=customer.slug %}" class="btn btn-primary">update(certain fields) from customer</a>
</header>
<h3>If you want to create another customer click below</h3>
<br><a href="{% url 'customer:create' %}" class="btn btn-warning">create new customer</a>
<h3>If you want to delete customer click below</h3>
<br><a href="{% url 'customer:customer-delete' slug=customer.slug %}" class="btn btn-danger">delete customer</a>
</article>
{% endblock %}