[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2018.9"
python-slugify = "==2.0.1"
rcssmin = "==1.0.6"
argon2-cffi = "==19.1.0"
whitenoise = "==4.1.2"
redis = ">=2.10.6,<3"
celery = "==4.2.1"
django-environ = "==0.4.5"
django-model-utils = "==3.1.2"
django-allauth = "==0.38.0"
django-crispy-forms = "==1.7.2"
django-compressor = "==2.2"
django-redis = "==4.10.0"
djangorestframework = "==3.9.1"
coreapi = "==2.3.3"
gunicorn = "==19.9.0"
psycopg2 = "==2.7.4"
raven = "==6.10.0"
django-storages = {extras = ["boto3"], version = "==1.7.1"}
django-anymail = {extras = ["mailgun"], version = "==5.0"}
Django = "~=2.2.15"
django-cors-headers = "*"
djangorestframework-jwt = "*"
channels = "~=2.2"
channels-redis = "*"
excel2json-3 = "*"
django-filter = "*"
django-widget-tweaks = "*"
django-import-export = "*"
django-bootstrap-datepicker-plus = "*"
django-bootstrap4 = "*"
holidays = "*"
businesstimedelta = "*"
exponent-server-sdk = "*"
rollbar = "*"

[requires]
python_version = "3.8"
