{% extends "base.html" %}

{% load static %}

{% block title %}
  Call list
{% endblock title %}

{% block main %}
    {% if call_list %}
      {% for call in call_list %}
    <h1>{{ call.notification_number }}</h1>
    <a href="{% url 'machine:call_detail' call.notification_number  %}" class='btn btn-outline-primary'>Call detail</a>
  {% empty %}
      <h2 class='text-center bg-light'>
          you did not add any call yet
      </h2>
  {% endfor %}
  {% else %}
  <h1>
    you did not add any call yet
  </h1>
    {% endif %}
    
{% endblock main %} 