{% extends 'base.html' %}
{% load static %}
{% block title %}{{block.super}}-- machine list{% endblock %}

{% block css1 %}
<link rel="stylesheet" href="../../../digitec/static/css/machine.list.css">
<script src="{% static 'js/reconnecting-websocket.js' %}"></script>

    <style>

    </style>

{% endblock %}
{% block content %}
<form class='form-boardered' method="GET" action="{% url 'machine:machine_bulk' %}">
    <button type="submit">Add machines</button>
</form>
<form class='form-boardered' method="GET" action="{% url 'customer:customer_bulk' %}">
    <button type="submit">Add customers</button>
</form>
<!-- <script>
    console.log('iam here')
    let url = 'ws://' + window.location.host + `/machine/list1/`
    const websocket = new ReconnectingWebSocket(url)
    websocket.onopen = (event)=>{
      console.log('connection oppened')
      console.log('type of event',event.type)
      websocket.send('hello')
      console.log('message is sent from customer')
    }
    websocket.onmessage = (strr)=>{
    


        console.log('event ', strr)
        let b = document.getElementById('webid')
        let text = document.createTextNode(strr['data'])
        b.innerText=strr['data']
        // setInterval(()=>(1), 10000)
        // console.log('1')
        // setTimeout(()=>(1),1000)
        // text = document.createTextNode('')
        // b.appendChild(text)
        // b.innerText = strr
        // websocket.onopen()
        // websocket.send(data=strr['data'])
        // console.log('message is sent again')
    }
    websocket.onclose=()=>{


        console.log('connection closed')
        
    }
   
    if(websocket.readyState===WebSocket.OPEN){
        
    }


  </script> -->

<div class="container-fluid">

<div class='row'>
    <p class='p-react'>
        for more information about machine technical information visit us at 
        <a class='btn btn-secondary' href="http://127.0.0.1:3000/">Reviews</a>
    </p>
</div>

<!-- 

<div class='row'>
    <p id='webid' class='block'></p>

</div> -->
<!-- <div class='row'>
{% for machine in machine_list %}

    <div class="col-11 col-md-5 mb-3 mr-3">
        <div class="card shadow-lg rounded p-3" style=' box-sizing: border-box; min-height:600px !important;background-color: rgba(31, 154, 165, 0.5);'>


            <div class="card-header text-center">
                <h3><a href="{% url 'machine:machine_detail' machine.id %}" style='text-decoration: none;background-color: none;'>{{machine.customer.name|title}}-{{machine.machine_model|default_if_none:"not added yet"}}</a></h3>

            </div>
            <div class="card-body">

                
              <h5 class="card-title">Serial-{{machine.serial}}</h5>
              <p class="card-text" style="color: white;">
                  {{ machine.machine_location|truncatewords:20 }}    
                </p>
                <a href="{% url 'machine:machine_detail' machine.id %}">
                    Read more&hellip;</a>
                <br>
                <h5 class="border-bottom shadow-sm " >Calls</h5>
                <ul style="display: flex;flex-direction: row;flex-wrap: wrap; list-style: none;" >
                    {% for call in machine.calls.all %}
                        <li>
                           <a class="btn btn-warning" href='{% url "machine:call_detail" call.notification_number %}' style="color: black !important;"> {{call.notification_number}}-{{call.created_date}}
                        </li></a>
                    {% empty %}
                        no calls for this machine yet
                    {% endfor %}
                </ul>

                <div class="left-right">
                    <div class="slider">
                        Area: {{machine.area|default:'No area'}}
                          ---
                        Engineer: {% if machine.area %}
                        {% for engineer in machine.area.engineer_set.all %}
                        {{engineer.user.username|title}} : 
                        {{engineer.name}}
                        {% empty %}
                        <h3>
                          no engineer
                        </h3>
                        {% endfor %}
                        {% endif %}
                        
                    </div>
                    <time datetime="{{ machine.added|date:'DATE_FORMAT' }}"></time>

                    <p class="lead" style='font-size: large;font-weight: bold;font-family: Franklin Gothic Medium; display: inline;'>Added:</p>{{machine.added|date:"l, F j Y"}}
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>

            </div>
          </div>
    </div>



{% empty %}
<p><em>There isn't any machines added Available</em></p>
{% endfor %}
</div> -->





<div class="row">
    <table>
        <thead>
            <th>Count</th>
            <th>Machine Serial</th>
            <th>Machine Model</th>
            <th>Machine Area</th>
            <th>Machine Points</th>
            <th>Machine location</th>
        </thead>
       <tbody>
        {% for machine in machine_list %}
        <tr>
        <th scope="row"><a href="{% url 'machine:machine_detail' machine.id  %}" class="stretched-link">
            {{ forloop.counter }}
        </a></th>
            <td>{{machine.serial}}</td>
            <td>{{ machine.machine_model }}</td>
            <td>{{machine.area}}</td>
            <td>{{ machine.machine_points }}</td>
            <td>{{ machine.machine_location }}</td>
            
        </tr>
        {% empty %}
<p><em>There isn't any machines added Available</em></p>
        {% endfor %}
    </tbody>
    </table>
    
</div>
</div>
<div style='height:100px;'>

</div>
<div class='row' style='position: relative;bottom: 20px;z-index: 250; font-size: small;font-weight: 300; font-family: sans-serif;'> 
<div class='col-12 text-center text-danger'>

    <div class="pagination text-center" style='display: flex; justify-content: center;'>
        <div  >
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current ">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
       
    </div>
</div>
</div>




{% endblock %}

