{% extends 'base.html' %}
{% block title %}{{block.super}}-- machine list{% endblock %}

{% block css1 %}
    <style>
        body{
            margin:0px
        }
        p{
            background-color: yellow;
        }

        a.machine-create{
            margin:5px;

        }
        a.machine-create:hover{
            background-color: beige;
            color:black;
        }
        .card{
            border-radius: 50px !important;
        }
        .card .card-header:hover{
            background-color: lightblue;
            color: white !important;
            border-top-left-radius: 50px !important;
            border-top-right-radius: 50px !important;

        }
        .card .card-header h2 a{
            color: black;
        }
        .card .card-header h2 a:hover{
            color:white;
        }
    </style>

{% endblock %}
{% block main %}
<div class="container-fluid">





<div class='row'>
    <a class="btn btn-primary machine-create" href="{% url 'machine:create'  %}">Create Machine</a>
    <a class="btn btn-primary machine-create" href="{% url 'machine:call_list'  %}">Call List</a>
    <a class="btn btn-primary machine-create" href="{% url 'machine:call_create'  %}">Create Call</a>
    <a class="btn btn-primary machine-create" href="{% url 'machine:create'  %}">Create Machine</a>
    <a class="btn btn-primary machine-create" href="{% url 'machine:create'  %}">Create Machine</a>
    <a class="btn btn-primary machine-create" href="{% url 'machine:create'  %}">Create Machine</a>


</div>
<div class='row'>
{% for machine in machine_list %}

    <div class="col-12 col-md-6  mb-3" style=' box-sizing: border-box;'>
        <div class="card shadow-lg rounded p-3">
            <div class="card-header text-center">
                <h2><a href="{% url 'machine:list'  %}" style='text-decoration: none;'>{{machine.name|title}}</a></h2>

            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                  {{ machine.description|truncatewords:20 }}   
                </p>
                <a href="">
                    Read more&hellip;</a>
                <br>
                <time datetime="{{ machine.added|date:"DATE_FORMAT" }}"></time>

                {{machine.added|date:"l, F j Y"}}
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>



{% empty %}
<p><em>No message added Available</em></p>
{% endfor %}
</div>
</div>
{% endblock %}
{% block sidebar %}
{% if machine_list %}
    <div class="machine-advertisement">
        {{ma}}
        {% for machine in ma %}
            {{machine.customer.name}}
        {% endfor %}
        
        {{ma.name}}
        {% for machine in mas %}
            {{machine.customer.name}}
            none
        {% endfor %}

        {% for machine in ma2 %}
        {{machine.customer.name}}
        'none'
    {% endfor %}
        <a href="{{ machine.serial }}">{{machine.name}}-{{machine.serial}}</a></div>
            <h1>
                {{count}}
            </h1>
            <h1>
                {{name}}
            </h1>


            {{f.name}}
    
    </div>
{% endif %}
{% endblock %}