{% extends "base.html" %}



{% block content %}
     <div class='header'>
        <h1 class='item'>About </h1><h1 class='item1'>Us</h1>
    </div>
    <div class='line'>
        <hr/>
    </div>
    <div class='line' id='special'>
        <hr/>
    </div>
    <center><p>this is center paragraph....to demonstrate only</p></center>
    <div class='container'>
        <div class='content'>
            <div class='content-p'>
                <h2>Ebrahim says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>

        </div>
        <div class='content'>
            <div class='content-p'>
                <h2>Hassan says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
    </div>
    <div class='container'>
        <div class='content'>
            <div class='content-p'>
                <h2>Mostafa says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
        <div class='content'>
            <div class='content-p'>
                <h2>Adam says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
    </div>
{% endblock content %}
     <div class='header'>
        <h1 class='item'>About </h1><h1 class='item1'>Us</h1>
    </div>
    <div class='line'>
        <hr/>
    </div>
    <div class='line' id='special'>
        <hr/>
    </div>
    <center><p>this is center paragraph....to demonstrate only</p></center>
    <div class='container'>
        <div class='content'>
            <div class='content-p'>
                <h2>Ebrahim says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>

        </div>
        <div class='content'>
            <div class='content-p'>
                <h2>Hassan says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
    </div>
    <div class='container'>
        <div class='content'>
            <div class='content-p'>
                <h2>Mostafa says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
        <div class='content'>
            <div class='content-p'>
                <h2>Adam says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
    </div>