{% extends "base.html" %}


{% block content %}
<div class="div-body">
    <div id='header'><p id='header-title'>Hello..</p></div>
    
    <div id='body-content'>
    <div id='content'>
        
        <form>
            <div id='form-content'>
                      
     
                <div class='form-group1'>
                    <label for=""></label>
                    <div class="form-control1">
                        <input class="input1" type="text" placeholder="Name..">
                    </div>
                </div>
    
    
                <div class='form-group1'>
                    <label for=""></label>
                    <div class="form-control1">
                        <input class="input1" type="email" placeholder="Email">
                    </div>
                </div>
    
    
                <div class='form-group1'>
                    <label for=""></label>
                    <div class="form-control1">
                        <input class="input1" type="text" placeholder="Subject">
                    </div>
                </div>
    
    
                <div class='form-group1'>
                    <label for=""></label>
                    <div class="form-control1">
                        <textarea class="input1" name="message" id="" cols="30" rows="10" placeholder="Message.."></textarea>
                    </div>
                </div>
    
    
                
    
    
                <div class='form-group1'>
                    <label for=""></label>
                    <div class="form-control1">
                        <input class="input1" type="submit" value='Contact us' id='button'>
                    </div>
                </div>
    
            </div>                  
        </form>
    </div>
    <div id='contact'>
        <h2>Contact Us</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi error autem animi iusto necessitatibus aspernatur laborum molestiae beatae id. Officia incidunt maxime veritatis vitae quo pariatur reiciendis nobis nulla error.
        </p>
    
    </div>
    </div>
</div>


{% endblock content %}