{% extends "base.html" %}
{% load static %}
{% block css1 %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.style.css' %}">
<style type="text/css">

  </style>
{% endblock css1 %}
{% block searchbox %}
{% endblock searchbox %}
{% block content %}
    
    <h1 class="text-center main-head font-chabook">
        Welcome to Digitec...
    </h1>
    <div class="heading-body">
        <h1 class="font-chabook">
            let`s start our journey
        </h1>
        
        {% if user.is_authenticated %}
            
            {% if user.engineer %}
                <h3 class="d-inline-block font-chabook">
                    Engineer :
                </h3>

            {% endif %}
            <h3 class='d-inline-block font-chabook'>
                {{user.username}}
            </h3>
        {% else %}
            <p>
                you are not subscribed user yet
            </p>
        {% endif %}
            
    </div>
    <!-- <div class="row">
        <div class="col-10 offset-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
            </p>
        </div> -->
    <!-- </div> -->
     <!-- <div class="row">
        <div class="col-10 offset-1">
            <form method="GET" action="{% url 'machine:machine_list_custom' %}">
               {% csrf_token %}
                <label for='category-id'>search by:</label>
                <input id='category-id' type="radio" name='category' value="name"/>
                <input id='category-id' type="radio" name='category' value="customer"/>
                <input id='category-id' type="radio" name='category' value="serial"/>
        
                <input  type="text" name="query" />
                <button type="submit" class="btn btn-primary">
                    search for machines
                </button>
            </form>
        </div>
    </div>
    <div class="col-12">

    </div> -->
     <!-- <div class="row">
        <div class="col-10 offset-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
            </p>
        </div>
    </div> <div class="row">
        <div class="col-10 offset-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
            </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-11 offset-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
            </p>
        </div>
    </div> <div class="row">
        <div class="col-10 offset-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.               Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque animi autem minus aliquid.
                 Explicabo, placeat quam dolorem voluptate ipsam unde laboriosam ab magnam,
                 veritatis itaque nam corporis id non odit.
            </p>
        </div>
    </div> -->
    <div class="heading-body1">

    </div>

<div>
    <div class='line'>
    </div>
    <div class='line' id='special'>
    </div>
</div>


{% endblock content %}

{% block main %}
  <div style="background-color: pink; width:100%; height: 500px;">

  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class='content'>
            <div class='content-p'>
                <h2>Hassan says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
    
        <div class='content'>
            <div class='content-p'>
                <h2>Mostafa says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'></div>
        </div>
        <div class='content'>
            <div class='content-p'>
                <h2>Adam says..</h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
            <div class='content-i'>

            </div>
        </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div class='content'>
        <div class='content-p'>
            <h2>Hassan says..</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
        <div class='content-i'></div>
    </div>

    <div class='content'>
        <div class='content-p'>
            <h2>Mostafa says..</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
        <div class='content-i'></div>
    </div>
    <div class='content'>
        <div class='content-p'>
            <h2>Adam says..</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
        <div class='content-i'>

        </div>
    </div>
</div>
<div class="col-sm-12 col-md-6 col-lg-4">
    <div class='content'>
        <div class='content-p'>
            <h2>Hassan says..</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
        <div class='content-i'></div>
    </div>

    <div class='content'>
        <div class='content-p'>
            <h2>Mostafa says..</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
        <div class='content-i'></div>
    </div>
    <div class='content'>
        <div class='content-p'>
            <h2>Adam says..</h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus obcaecati cupiditate ullam voluptatibus odio earum ratione, qui nemo quod sunt inventore ad totam tempora sit? Numquam officia praesentium veritatis expedita?</div>
        <div class='content-i'>

        </div>
    </div>
</div>
  </div>
{% endblock main %}
{% block sidebar %}
  <div style="background-color: pink; width:100%; height: 500px;">

  </div>
  <div class="row">
      <div class="col-12" style="background-color: lightgray; margin:3px 6px">
          <div class="products">

          </div>
      </div>

  </div>
  <h5 style="border-bottom: 1px solid darkblue;">
      Latest pending Calls
  </h5>
  {% for call in pending_calls %}
  <div class="row">
    <div class="col-12" style="background-color: lightgray; margin:3px 6px">
      <span>Notification number: </span>{{call.notification_number}}<br><span>Created at: </span>{{call.created_date}}
    </div>
</div>
    
    {% if forloop.last %}
        <hr>
    {% endif %}
        
  {% endfor %}
  <h5 style="border-bottom: 1px solid darkblue;">
    Latest completed Calls
</h5>
{% for call in completed_calls %}
  <div class="row">
      <div class="col-12" style="background-color: lightgray; margin:3px 6px">
        <span>Notification number: </span>{{call.notification_number}}<br><span>Created at: </span>{{call.created_date}}
      </div>
  </div>
  {% if forloop.last %}
  <hr>
{% endif %}
{% endfor %}
{% endblock sidebar %}
